<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Game Keeper</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script
    src="https://code.jquery.com/jquery-3.2.1.js"
    integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
    crossorigin="anonymous"></script>
    <script src="../public/app.js"></script>
    <link rel="stylesheet" type="text/css" href="../public/main.css">
  </head>
  <body>
    <form>
      <label for="game-name">Game Name</label>
      <input id="game-name" name="game-name" type="text" placeholder="e.g., Monopoly">
      <label for="genre">Genre</label>
      <input id="genre" name="genre" type="text" placeholder="e.g., Strategy">
      <button type="submit" id="addGame">Add Game</button>
    </form>
  </body>
</html>