/* font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Montserrat', sans-serif; */

* {
  box-sizing: border-box;  
}

.hidden {
  opacity: .3;
}

html {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e4efc0+22,abbd73+63 */
  background: #e4efc0 no-repeat center center fixed; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #e4efc0 22%, #abbd73 63%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #e4efc0 22%,#abbd73 63%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #e4efc0 22%,#abbd73 63%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4efc0', endColorstr='#abbd73',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  /* background-repeat: no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%; 
}

header {
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
  text-align: center;
  max-width: 1000px;
}

h1 {
  font-size: 32pt;
  letter-spacing: 4px;
}

.game-icon {
  width: 60px;
  height: 60px;
  cursor: pointer;
  margin-left: 3px;
  margin-right: 3px;
}

p {
  margin: 10px;
}

.js-bgame-plays {
  margin-bottom: 20px;
}

/* Game Type Classes to dynamically show images in each game card */
.Board {
  height: 50px;
  width: 50px;
  content: url('../imgs/meeple.svg');
  margin: 0 auto;
  margin-top: 5px;
}
.Video {
  height: 50px;
  width: 50px;
  content: url('../imgs/console-controller.svg');
  margin: 0 auto;
  margin-top: 5px;  
}
.Card {
  height: 50px;
  width: 50px;
  content: url('../imgs/poker-hand.svg');
  margin: 0 auto;
  margin-top: 5px;  
}
.TTRPG {
  height: 50px;
  width: 50px;
  content: url('../imgs/dice-twenty.svg'); 
  margin: 0 auto;
  margin-top: 5px;  
}

select, input {
  display: block;
}

.game-info {
  height: 100px;
  background-color: #ffff6e;
  width: 23%;
}

.link-btn {
  background: #ffff6e;
  padding: 8px 20px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 13px;
  border-radius: 4pt;
  border: none;
  text-decoration: none;
  color: black;
}

.link-btn:hover {
  background: #76ff03;
  box-shadow: 0 3px 2px -2px black;
}

.add-game-btn {
  font-size: 20px;
  border: 1px solid #79b700;
}

.add-game-btn:hover {
  background: #aeea00;
}

main {
  max-width: 1000px;
  margin: 0 auto;
}

.icons {
  margin-bottom: 15px;
}

.game-box {
  display: inline-block;
  margin-top: 15px;
}

.game-name {
  font-weight: bold;
  font-size: 16pt;
  background-color: #79b700;
  padding: 15px;
  margin: 0;
  height: 25%;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 4pt;
}

.js-game-btn {
  cursor: pointer;
  background-color: #ffff6e;
  border: none;
  margin-top: 10px;
}

button:hover {
  background-color: #99aa00;
}

.modal {
  background-color: #99aa00;
  text-align: center;
}

.modal-input {
  background-color: #ffff6e;
  border: none;
  border-radius: 3pt;
  margin: 0 auto;
}

::-webkit-input-placeholder {
  opacity: .6;
}
::-ms-input-placeholder {
  opacity: .6;
}
::-moz-placeholder {
  opacity: .6;
}

#addGame {
  background-color: #cddc39;
  margin-top: 10px;
  float: right;
}

#addGame:hover {
  background-color: #aeea00;
}

.js-bgame {
  display: inline-block;
  height: 225px;
  width: 225px;
  background-color: #cddc39;
  text-align: center;
  border-radius: 4px; 
  font-family: 'Open Sans', sans-serif;
  box-shadow: 0 3px 2px -2px black;
}

h3 {
  border-top-left-radius: 3pt;
  border-top-right-radius: 3pt;
  font-size: 18pt;
  font-weight: 700;
}

