/* font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Montserrat', sans-serif; */

* {
  box-sizing: border-box;  
}

header {
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
  background: #ccdf8e;    
  text-align: center;
  max-width: 1000px;
  position: sticky;
  top: 0;
  z-index: 1;
}

body {
  position: relative;
  z-index: 2;
  background: #ccdf8e;  
}

main {
  text-align: center;  
}

form {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 32pt;
  letter-spacing: 4px;
}

h3 {
  border-top-left-radius: 3pt;
  border-top-right-radius: 3pt;
}

ol {
  text-align: left;
}

li {
  margin: 10px;
}

a.link-btn {
  display: inline-block;
}

nav {
  height: 40px;
  width: 40px;
}

img.help {
  position: absolute;
  top: 5px;
  right: 10px;
  height: 30px;
  width: 30px;
}

select, input {
  display: block;
}

button {
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  padding: 8px 8px;
  margin: 20px 0 20px;
  letter-spacing: 1px;  
  background: #ffff6e;
  border-radius: 4pt;
}

button:hover {
  background-color: #76ff03;
}

.banner {
  margin-top: 0;
}

.link-btn {
  background: #ffff6e;
  padding: 8px 10px;
  margin: 0 12px 0 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 13px;
  border-radius: 4pt;
  border: none;
  text-decoration: none;
  color: black;
}

.add-game-btn {
  font-size: 20px;
  border: 1px solid #79b700;
  margin: 20px;
}

.add-game-btn:hover {
  background: #aeea00;
}

.link-btn:hover {
  background: #76ff03;
  box-shadow: 0 3px 2px -2px black;
}

/* javaScript generated game card */
.game-box {
  display: inline-block;
  margin-top: 15px;
}

.js-bgame {
  background-color: #cddc39;
  border-radius: 4px; 
  font-family: 'Open Sans', sans-serif;
  box-shadow: 0 3px 2px -2px black;
  margin-bottom: 20px;
}

.icon {
  display: inline;
}

.win-lose-box {
  margin-top: 20px;
  margin-bottom: 10px;
}

.win-lose {
  width: 100px;
  border: 1px solid black;
  font-size: 14pt;
  cursor: pointer;
  background: #ffff6e;
  padding: 10px 20px;
}

input[type=radio]:checked + label {
  background: #76ff03;
}

/* Tooltip Styles */

/* Add this attribute to the element that needs a tooltip */
[tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[tooltip]:before,
[tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[tooltip]:before {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-bottom: -10px;
  margin-left: -150px;
  padding: 7px;
  max-width: 160px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

/* Show tooltip content on hover */
[tooltip]:hover:before,
[tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

@media only screen and (max-width: 640px) {

  header {
    border-bottom: 2px solid #79b700;
  }

  .js-bgame {
    margin: 10px 0 25px;
    width: 240px;
  }

  .col-3 {
    float: none;
  }
}

@media only screen and (max-width: 999px) {
  .js-bgame {
    margin: 10px 0 25px;
    width: 240px;
  }

  .col-3 {
    width: 33.33%;
  }
}

.hidden {
  opacity: .3;
}

.game-icon {
  width: 60px;
  height: 60px;
  cursor: pointer;
  margin-left: 3px;
  margin-right: 3px;
}

.js-bgame-plays {
  margin-bottom: 20px;
}

/* icons wrapper */
.icons {
  margin-bottom: 15px;
}

/* Game Type Classes to dynamically show images in each game card */
.Board {
  height: 50px;
  width: 50px;
  content: url('../imgs/meeple.svg');
  margin: 0 auto;
  margin-top: 5px;
}

.Video {
  height: 50px;
  width: 50px;
  content: url('../imgs/console-controller.svg');
  margin: 0 auto;
  margin-top: 5px;  
}

.Card {
  height: 50px;
  width: 50px;
  content: url('../imgs/poker-hand.svg');
  margin: 0 auto;
  margin-top: 5px;  
}

.TTRPG {
  height: 50px;
  width: 50px;
  content: url('../imgs/dice-twenty.svg'); 
  margin: 0 auto;
  margin-top: 5px;  
}

.game-name {
  font-weight: bold;
  font-size: 16pt;
  letter-spacing: -.5px; /* This is a fix for displaying beyond a single line in Safari */
  background-color: #79b700;
  padding: 15px;
  margin: 0;
  height: 25%;
  cursor: pointer;
}

.game-info {
  height: 100px;
  background-color: #ffff6e;
  width: 23%;
}

.bgame-controls {
  padding-bottom: 15px;
}

input {
  display: block;
}

input[type=radio] {
  visibility: hidden;
  display: none;
}

/* jQuery Modal overridden styles */

.modal {
  background-color: #99aa00;
  text-align: center;
  margin: 0 auto;
  max-width: 300px;
}

.modal p {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 900;
}

#deleteGameForm, appInstructionsForm {
  max-width: 500px;
}

#gameCard {
  max-width: 800px;
  height: 200px;
}

.addGameForm {
  max-width: 200px;
  margin: 0 auto;
}

.modal-input {
  background-color: #ffff6e;
  border: none;
  border-radius: 3pt;
  margin: 5px auto;
  width: 100%;
}

::-webkit-input-placeholder {
  opacity: .6;
}
::-ms-input-placeholder {
  opacity: .6;
}
::-moz-placeholder {
  opacity: .6;
}

#addGame, #addPlay {
  background-color: #ffff6e;
  margin-top: 20px;
  border: 1px solid #000;
  float: right;
}

#addGame:hover, #addPlay:hover {
  background-color: #76ff03;
  box-shadow: 0 3px 2px -2px black;
}